body{
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color: rgb(233, 233, 233);
  
}

h1 {
  color: rgb(231, 231, 231);
  font-size: medium;
  font-family:sans-serif;
  text-align: center;
  padding: 20px;
}

body{
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color: rgb(233, 233, 233);
  border: 25px solid black ;
}


.box {
background-color: rgb(233, 233, 233);
border-radius: 5px;
align-items: center;
}

#img-container{
  display: block;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; 
  overflow: hidden;   
  row-gap: 2rem;
  border-radius: 10px ;
  margin-top: 30px ;
   transition: filter 0s, transform 0s;   position: relative;
}

img{
  display: block;
  height: 100%;  
  width: 95%  ;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5rem;
}

.heart-button {
  position: absolute;
  bottom: 220px;   
  right: 12px;    
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  z-index: 5;
  
}


.heart-button #heartIcon {
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
  color: inherit;
  font-size: 18px;
  background-color: inherit;
/*These different overlay colors applied to the card, green overlay is to demonstrate swiping to the right by touch, red overlay is to the left */
#img-container.green-overlay{
    filter: brightness(0.8) sepia(1) hue-rotate(60deg) saturate(1.5);
  transform: scale(1.01);
}

#img-container.red-overlay {
 filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(0);
  transform: scale(1.01);
}

 /*Animation that shakes the card twice right and left */

.shake-right{
   animation: shakeRightSide 2s ease-in-out 2;
  animation-delay: 0s;
}
.shake-left{
   animation: shakeLeftSide 2s ease-in-out 2;
  animation-delay: 0s;
}


@keyframes shakeRightSide{
    0% { transform: translateX(0) rotate(0deg); }
  25%  { transform: translateX(15px) rotate(5deg); }
  50%  { transform: translateX(30px) rotate(10deg); }
  75%  { transform: translateX(15px) rotate(5deg); }
  100% { transform: translateX(0) rotate(0deg); }
 
}


@keyframes shakeLeftSide {
  0%   { transform: translateX(0) rotate(0deg); }
  25%  { transform: translateX(-15px) rotate(-5deg); }
  50%  { transform: translateX(-30px) rotate(-10deg); }
  75%  { transform: translateX(-15px) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0deg); }


}

.heart-button.active #heartIcon {
  color: red;
  background-color: red;
  transform: scale(1.2);
}

.heart-button:hover {
  transform: scale(1.1);
  
}
 #likeCount{
  font-size: 10px;
 }

 .container
 {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 
{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;

}
.change .bar1 
{
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 
{
opacity: 0;
}
.change .bar3 
{
  transform: translate(0, -9px) rotate(45deg);
}
/* A cursor like icon that moves to the right and left   */

#swipe-demo{
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
  z-index: 1000;
}


#swipe-demo .animation {
  font-size: xx-large;
margin-top: -13rem;
  font-weight: bold;
}


#right-side{
  position: relative;
  animation: moveRight 2s ease-in-out 2;
  animation-delay: 0s;


}


@keyframes moveRight {
  from{
    right:0px;
  }
  to{
    right:-500px;
  }
}



#left-side{
  position: relative;
  animation: moveLeft 2s ease-in-out 2;
  animation-delay: 0s;
 
}


@keyframes moveLeft {
  from {
    left: 0px;
  }
  to {
    left: -500px;
  }
}
