h1 {
  color: rgb(231, 231, 231);
  font-size: medium;
  font-family:sans-serif;
  text-align: center;
  padding: 20px;
}

h2, p {
  color: #000;
  font-family: sans-serif;
  text-align: left;

}

body{
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color: rgb(233, 233, 233);
  border: 25px solid black ;
}

.box {
background-color: rgb(233, 233, 233);
border-radius: 5px;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}

#img-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; 
  overflow: hidden;   
  row-gap: 2rem;
  border-radius: 10px ;
  margin-top: 30px ;
}

img{
  display: block;
  height: 300px;  
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}


}