h1 {
  color: rgb(231, 231, 231);
  font-size: medium;
  font-family:sans-serif;
  text-align: center;
  padding: 20px;
}

h2, p {
  color: #000;
  font-family: sans-serif;
  text-align: left;

}

body{
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color: rgb(233, 233, 233);
  border: 25px solid black ;
}

#box {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

#img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;   
  border-radius: 10px;
}

img{
  display: block;
  height: 300px;  
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}


#button {
  padding: 8px 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  align-self: right;
 
}

#heartIcon {
  color: #000000;
}

#likeCount {
  color: #000;
  font-family: sans-serif;
}

.user-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

#text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}
