

h1 {
  color: rgb(231, 231, 231);
  font-size: medium;
  font-family:sans-serif;
  text-align: center;
  padding: 20px;
}

body{
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: black;
  color: rgb(233, 233, 233);
  border: 25px solid black ;
}

.box {
background-color: rgb(233, 233, 233);
border-radius: 5px;
align-items: center;
}

#img-container{
  display: block;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; 
  overflow: hidden;   
  row-gap: 2rem;
  border-radius: 10px ;
  margin-top: 30px ;
}

img{
  display: block;
  height: 300px;  
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.heart-button {
  position: absolute;
  bottom: 220px;   
  right: 12px;    
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  z-index: 5;
  
}


.heart-button #heartIcon {
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
  color: inherit;
  font-size: 18px;
  background-color: inherit;


}

.heart-button.active #heartIcon {
  color: red;
  background-color: red;
  transform: scale(1.2);
}

.heart-button:hover {
  transform: scale(1.1);
  
}
 #likeCount{
  font-size: 10px;
 }

 .container
 {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 
{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;

}
.change .bar1 
{
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 
{
opacity: 0;
}
.change .bar3 
{
  transform: translate(0, -9px) rotate(45deg);
}
