/* desktop display*/


 body, html{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(10, 7, 7);
  height: 100vh;
  margin: 0;
  padding: 0;
  
}


#box {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  max-width: 50vh;

}


img{
  display:flex;
  height: 100%;  
  max-width: 50%;
  object-fit: cover;
  border-radius: .625rem;
  margin-top: 80px; 
  max-height: 90vh;
  max-block-size: 90vh;

  
}

/* need help to position the menu on the left corner of the block*/


.hambuger-menu, .h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(231, 231, 231);
  margin-bottom: 0%;



}




.hambuger {
  margin-top: 10px;
  height: 2px;
  width: 15px;
  background: #ebe5e5;
  border-radius: 10% / 90%;
}


ul {
  list-style: none;
  cursor: pointer;
}




h2, p {
  color: #000;
  font-family: sans-serif;
  text-align: left;
}


#img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
  border-radius: .625rem;
  max-width: 100%;
}



.animation {
  position: absolute;       
  inset: 0;                
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;     
  z-index: 10;             
}

/*These different overlay colors applied to the card, green overlay is to demonstrate swiping to the right by touch, red overlay is to the left */
#img-container.green-overlay{
    filter: brightness(0.8) sepia(1) hue-rotate(60deg) saturate(1.5);
  transform: scale(1.01);
}

#img-container.red-overlay {
 filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(0);
  transform: scale(1.01);
}

 /*Animation that shakes the card twice right and left */

.shake-right{
   animation: shakeRightSide 2s ease-in-out 2;
  animation-delay: 0s;
  
}
.shake-left{
   animation: shakeLeftSide 2s ease-in-out 2;
  animation-delay: 0s;
}


@keyframes shakeRightSide{
    0% { transform: translateX(0) rotate(0deg); }
  25%  { transform: translateX(.9375rem) rotate(5deg); }
  50%  { transform: translateX(1.875rem) rotate(10deg); }
  75%  { transform: translateX(.9375rem) rotate(5deg); }
  100% { transform: translateX(0) rotate(0deg); }
 
}


@keyframes shakeLeftSide {
  0%   { transform: translateX(0) rotate(0deg); }
  25%  { transform: translateX(-0.9375rem) rotate(-5deg); }
  50%  { transform: translateX(-1.875rem) rotate(-10deg); }
  75%  { transform: translateX(-0.9375rem) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0deg); }


}




#button {
  padding: .5rem 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 19.2px;
  align-self: right;
 
}

#heartIcon {
  color: #000000;

}

#likeCount {
  color: #000;
  font-family: sans-serif;

}

.user-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding:

}

#text {
  display: flex;
  flex-direction: column;
  width: 100%;

}

/* Mobile display*/

@media screen and (max-width: 37.5rem) {
#box{
  width: 85%;
}



 }




