/* desktop display*/
body{
  margin:0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  border: 25px solid black ;
}



h1 {
  color: rgb(231, 231, 231);
  font-size: large;
  font-family:sans-serif;
  text-align: center;
  padding: 1rem;
}


p {
  color: #000;
  font-family: sans-serif;
  text-align: left;
}

img{
  display: block;
  height: 100%;
  width:340px;
  object-fit: cover;
  border-radius: 625rem;


}

#box {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 50%;

}

ul {
  list-style: none;
  cursor: pointer;
}

/* need help to position the menu on the left corner of the block*/


.hambuger-menu {
  position: absolute; 
  top: 20px;          
  left: 20px;        
  z-index: 1000;
  

}

.hambuger-menu .menu {
    font-size: 28px;   
    cursor: pointer;    
    color: rgb(212, 212, 212);        
    user-select: none;  

}

.hambuger-menu .menu:hover {
    color: #ffffff;
    text-shadow: 2px 2px 10px #ffffff;
    filter: dropshadow(color=#ffffff, offx=4, offy=4);
}


.animation {
  position: absolute;       
  inset: 0;                
}

img {
  display: block;
  height: 300px;  
  width: 100%  ;
  object-fit: cover;
  border-radius: 5px;
}

#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;     
  z-index: 10;             
  flex-direction: column;
  width: 100%;
  overflow: hidden;   
  transition: filter 0s, transform 0s;   position: relative;
  border-radius: 5px;
  color: #000000;
  font-family: sans-serif;
  text-align: left;
}

img{
  display: block;
  height: 100%;  
  width: 100%  ;
  object-fit: cover;
  border-radius: 5px;
}

#button {
  padding: 8px 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  align-self: right;
  position: absolute;
}

#heartIcon {
  color: #000000;
}

#likeCount {
  color: #000;
  font-family: sans-serif;
}


/*These different overlay colors applied to the card, green overlay is to demonstrate swiping to the right by touch, red overlay is to the left */
#img-container.green-overlay{
    filter: brightness(0.8) sepia(1) hue-rotate(60deg) saturate(1.5);
  transform: scale(1.01);
}

#img-container.red-overlay {
 filter: brightness(0.8) sepia(1) hue-rotate(-30deg) saturate(0);
  transform: scale(1.01);
}

 /*Animation that shakes the card twice right and left */

.shake-right{
   animation: shakeRightSide 2s ease-in-out 2;
  animation-delay: 0s;
  
}
.shake-left{
   animation: shakeLeftSide 2s ease-in-out 2;
  animation-delay: 0s;
}


@keyframes shakeRightSide{
    0% { transform: translateX(0) rotate(0deg); }
  25%  { transform: translateX(.9375rem) rotate(5deg); }
  50%  { transform: translateX(1.875rem) rotate(10deg); }
  75%  { transform: translateX(.9375rem) rotate(5deg); }
  100% { transform: translateX(0) rotate(0deg); }
 
}


@keyframes shakeLeftSide {
  0%   { transform: translateX(0) rotate(0deg); }
  25%  { transform: translateX(-0.9375rem) rotate(-5deg); }
  50%  { transform: translateX(-1.875rem) rotate(-10deg); }
  75%  { transform: translateX(-0.9375rem) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0deg); }

}

 



#button {
  display: flex;
  justify-content: flex-end; /* Move heart button to the right */
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.like-wrapper {
  display: flex;
  justify-content: flex-end; /* Align heart button to the right */
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 8px;
  width:100%;
}

#heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

.heart-btn:hover {
  transform: scale(1.2);
}


#heartIcon {
  color: #000000;

}

#likeCount {
  color: #000;
  font-size: 1rem;
  margin-left: 6px;
  display: none;

}

#text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Mobile display*/

@media screen and (max-width: 37.5rem) {
#box{
  width: 85%;
}



 }


#right-side{
  position: relative;
  animation: moveRight 2s ease-in-out 2;
  animation-delay: 0s;
}

@keyframes moveRight {
  from{
    right:0px;
  }
  to{
    right:-500px;
  }
}

#left-side{
  position: relative;
  animation: moveLeft 2s ease-in-out 2;
  animation-delay: 0s;
}

@keyframes moveLeft {
  from {
    left: 0px;
  }
  to {
    left: -500px;
  }
}